.room {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 960px;
}
.url_form {
  width: 640px;
  display: flex;
  margin-bottom: 10px;
}

.url_input {
  padding: 5px;
  width: 100%;
}

.controls {
  margin-top: -3px;
  background-color: #20232a;
  display: flex;
  width: 640px;
  align-items: center;
}

.control_button {
  width: 20px;
  height: 20px;
  stroke-width: 3;
  stroke: #ffffff;
  fill: none;
  padding: 20px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.control_button:hover {
  background-color: #61dafb;
}

.progress_input {
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.progress_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #61dafb;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.progress {
  color: #ffffff;
  padding: 0 10px;
}
