.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #61dafb;
  font-size: 45px;
  letter-spacing: 0.01em;
}

button {
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  color: #000000;
  padding: 10px 25px;
  white-space: nowrap;
  transition: background-color 0.2 ease-out;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
}
